mat-grid-list {
  /*padding: 10% 20% 10% 20% !important;*/
  margin: 8px;
}

mat-grid-tile:nth-child(1) mat-card{
  padding-top: 20px;
  align-items: center;
  background-color:  #ccebff;;
}

mat-card-title{font-family: ui-sans-serif;font-size: 22px;}


mat-card {
  height: 99% !important;
  width: 100%;
  margin: 5px;
  overflow: auto;
  border-radius: 12px;
}

mat-card-title{
  margin-left: 5px;
  margin-top: 5px;
  background-color:  #ccebff;
  border-radius: 6px;
  padding-left: 10px;
}

mat-card img{
  width: 50%;
  height: 80%;
}

#quicklinks mat-card img{
  scale: 210%;
  padding-left: 18px;
  padding-top: 15px;
}

#quicklinks mat-card{
  height: unset!important;
  padding-top: 4px;
  width: 150px;
  margin: 0 20px 0 20px;
  border: solid #3bab5a;
}

mat-card-footer{
  font-size: 18px;
  margin-top: 55px;
  text-align: center;
  background-color: #3bab5a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: ui-sans-serif
}

mat-card-footer a{
  text-decoration: none;
  color: white;
}
